disableTelemetry()
db.disableFreeMonitoring()

prompt = () => {

  const dbss = db.serverStatus();
  const host = dbss.host;
  const prcs = dbss.process;
  const dbn  = db.getName();
  const tme  = new Date().toLocaleTimeString();

  return `⊏ \x1b[38;5;67m${prcs}\x1b[0m ⊐ 🞂 \x1b[33m${host}\x1b[0m 🞀\n⊶ \x1b[38;5;173m${dbn}\x1b[0m ⊳ `;
}
